@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

#root{
    min-height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    background-color: #23252C;
}

.card{
    border-radius: 10px;
    margin-top: 50px;
    align-self: center;
    background-color: #1A1B21;
    width: fit-content;
}

.imageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.imageContainer img{
    border-radius: 10px 10px 0 0;
    background-color: brown;
    width: 317px;
}

.imageContainer .text{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
}

.imageContainer .text h1{
    font-weight: 400;
}


.imageContainer .text #profession{
    font-size: 0.8em;
    margin-top: 3px;
    color: #F3BF99;
}

.imageContainer .text #personal_website{
    font-size: 0.64em;
    margin-top: 10px;
    color: #F5F5F5;
}

.contact_btns{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact_btns button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    padding: 7px 11px 7px 9px;
    border: none;
    border-radius: 6px;
}

.contact_btns img{
    width: 16px;
    margin-right: 8px;
}

.contact_btns #linkedin_icon{
    width: 21px;
}


.contact_btns #email{
    margin-right: 15px;
    color: #374151;
}

.contact_btns #linkedin{
    color: white;
    margin-right: 15px;
    background-color: #5093E2;
}