@import url('https://fonts.cdnfonts.com/css/futura-pt');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: Futura PT,Trebuchet MS,Arial,sans-serif; 
    text-decoration: none;
}

#root{
    min-height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    background-color: rgb(32, 31, 32);
}

.logo{
    /* margin: 10px 0 20px; */
    width: 60px;
    margin-right: 2px;
}

.logoContainer{
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: #53C1DE;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(14, 13, 14);
    padding: 20px 20px;
    color: white;
}

header .nav_links{
    list-style: none;
}

header .nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.UnorderedList{
    margin: 20px;
    color: #edf0f1;
}

footer{
    /* 
        * for the footer to stay at bottom, you will need to change settings on body
        * or in this case, change settings on #root 
    */
    margin-top: auto;
    height: auto;
    margin-bottom: 0px;
    background: rgb(15, 15, 15);
    color: #dfdfdf;
    width: 100%;
    padding-top: 10px;
}

footer p{
    font-size: 1em;
}

footer span{
    color: #3e8ba0;
}

footer .message{
    font-size: 0.7em;
    color: rgb(82, 94, 109);
}

.footerContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}